 @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Geo&family=Graduate&family=Kameron&family=Roboto+Slab:wght@300&family=Sanchez&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Geo&family=Graduate&family=Kameron&family=Open+Sans&family=Roboto+Slab:wght@300&family=Sanchez&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Rubik+Bubbles&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Concert+One&family=Rubik+Bubbles&display=swap');

 .navbar {
     position: fixed;
     top: 0;
     width: 100%;
     font-family: 'Sanchez', serif;
     z-index: 999;
     background-color: #041429;

 }

 body {
     padding-top: 70px;
     font-family: 'Open Sans', sans-serif;
     background-color: #071f3d;
 }


 .nav-item {
     font-size: 30px;
     font-family: 'Rubik Bubbles', cursive;

 }

 .navbar-brand {
     font-size: 22px;
 }


 .font-heading {
     font-size: 30px;
     font-weight: bold;
     font-family: 'Roboto Slab', serif;
     margin: 2px;
 }

 .font-para {
     font-size: 22px;
     font-family: 'Poppins', sans-serif;
     margin: 10px;
     padding: 11px;
 }

 .mycolor {
     background-color: #071f3d;
     color: azure;
 }



 .profile-img {
     width: 37px;
     height: 37px;
     border-radius: 50%;
     cursor: pointer;
 }



 .img-fluid {
     height: 100%;
 }


 .custom-dark-blue {
     color: #0b2e59;
 }


 .readhead {
     color: #d2ff11;
 }

 #typed-heading {
     color: #00ffca;
     font-size: 37px;
     font-weight: bold;
     font-family: 'Concert One', cursive;
 }


 #typed-heading1 {
     color: #1eff00;
     font-size: 37px;
     font-weight: bold;
     font-family: 'Concert One', cursive;
 }



 /* CSS code for styling the About Us page */
 .about-heading {
     color: #ff39b0;
     font-size: 42px;
     text-align: center;
     font-family: 'Concert One', cursive;
 }

 .about-para {
     font-size: 30px;
     line-height: 2;
     color: rgb(147 236 184);
     font-family: 'Comfortaa';
 }

 #headblog {
     color: #d2ff11;
     font-weight: bold;
 }