{% extends 'blogapp/base.html' %}
{% block title %}
Register
{% endblock title %}


{% block buttons %}
<div class="d-flex" role="button">
    <a class=" btn btn-success mx-2 " href="{% url 'register' %}">Sign Up</a>
    <a class=" btn btn-primary" href="{% url 'login' %}">Log In</a>
</div>
{% endblock buttons %}


{% block content %}



<div class="container h-100 text-center">

    {% for msg in messages %}
    <div {% if msg.tags %} class="{{ msg.tags }} text-success font-weight-bold " {% endif %}>{{ msg }}</div>
    {% endfor %}



    <section class="my-3">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img2.webp"
                                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form action="" method="POST" novalidate>
                                        {% csrf_token %}

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fa fa-solid fa-address-card fa-2x me-3"
                                                style="color: #ff6219;"></i>

                                        </div>

                                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register In to Your
                                            Account</h3>

                                        {% comment %} here we give non field errros {% endcomment %}

                                        {% if form.non_field_errors %}

                                        <div class="non-field-errors">
                                            {% for err in form.non_field_errors %}
                                            <p class="form-error text-danger">{{ err }}</p>
                                            {% endfor %}
                                        </div>

                                        {% endif %}



                                        {% comment %} here we give our django login form {% endcomment %}
                                        {% for field in form %}

                                        <div class="form-outline mb-4 rounded-2">
                                            <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                            {{ field }}


                                            <div class="d-grid  d-md-flex justify-content-md-end">
                                                <span class="text-danger"> {{ field.errors|striptags }}</span>
                                            </div>

                                        </div>
                                        {% endfor %}

                                        <div class="pt-1 mb-4">
                                            <input type="submit" value="Register" class="btn btn-dark btn-lg btn-block">
                                        </div>

                                    </form>

                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a
                                            href="{% url 'login' %}">Sign in instead</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
{% endblock content %}